html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body{
    margin: 0;
}

.bg__login-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 15px;
    min-height: 100vh;
    background-image: url("./assets/bg-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.bg__gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(93, 84, 240, 0.5);
    background: -webkit-linear-gradient(
        left,
        rgba(0, 168, 255, 0.5),
        rgba(185, 0, 255, 0.5)
    );
    pointer-events: none;
    z-index: -1;
}

.container__languages{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    top: 20px;
}

.container__languages button{
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    border-radius: 100px;
    border: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.829);
    background-color: transparent;
    margin: 2px;
    cursor: pointer;
}

.button-it{
    background-image: url("./assets/italy.png");
}

.button-en{
    background-image: url("./assets/en-flag.png");
}