html {
    overflow: hidden;
}

body {
    background-color: white;
    overflow: hidden;
}

.page {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}
