@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap");

.input-text {
    position: relative;
    margin: 0 0 20px 0;
}

.input-text__input {
    display: block;

    height: 62px;
    font-size: 16px;
    line-height: 1.2;
    padding: 0 20px 0 23px;
    width: 237px;

    background: transparent;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.075);
    color: #4b2354;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    outline: none;
}

.input-text__input::placeholder {
    color: #4b2354;
}

.input-text__input--error {
    box-shadow: 0px 0px 20px #fa42511d;
}

.input-text__input--error::placeholder {
    color: #fa4251;
}

.input-text__input:focus {
    box-shadow: 3px 5px 29px rgba(0, 0, 0, 0.192);
}

.input-text__icon {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 23px;
    top: 0px;

    height: 62px;
}

.input-text__icon div {
    display: flex;
    justify-content: space-around;

    height: 12.5px;
    width: 12.5px;

    border-radius: 35px;
    color: white;
    font-size: 8px;
    font-weight: 900;
    line-height: 0.8rem;
}

.input-text__icon--hide-error > div {
    background-color: #fa4251;

    cursor: pointer;
}

.input-text__icon--valid-check div {
    background-color: #57b846;
}
